.showDetailsProject {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  min-width: 100vw;
  background-color: rgba(46, 46, 46, 0.5);
  min-height: 100%;

  visibility: hidden;
  opacity: 0;
}

.showDetailsProject.visible {
  visibility: visible;
  opacity: 1;
}

.showDetailsProject .showDetailsArticle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);

  min-width: 20rem;
  max-width: 60%;
  min-height: 20rem;
  max-height: 80%;

  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 65% 1fr;

  opacity: 0;
  transition: all 500ms ease-in-out; /* ANIMACION DE APARICION */
}

.showDetailsProject .showDetailsArticle.active {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.showDetailsProject .showDetailsArticle img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  opacity: 1;
}

.showDetailsProject .showDetailsArticle .projectDescription {
  padding: 1.2rem;
  background-color: #fff;

  z-index: 2;

  /* DISPLAY FLEX */
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */

  /* DISPLAY GRID */

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2.4rem 2rem 0.8rem 1fr 2rem;
  align-items: center;
}

.showDetailsProject .showDetailsArticle .projectDescription h2 {
  font-size: 18pt;
  color: var(--titleColor);
}

.showDetailsProject .showDetailsArticle .projectDescription h3 {
  font-size: 12pt;
  color: var(--subtitleColor);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.projectDescription .containerSpacer {
  background-color: var(--subtitleColor);
  height: 1px;
  max-width: 100%;
}

.showDetailsProject .showDetailsArticle .projectDescription p {
  font-size: 12pt;
  color: var(--titleColor);
}

.showDetailsProject
  .showDetailsArticle
  .projectDescription
  .containerShowAndClose {
  font-size: 12pt;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.containerShowAndClose a {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.containerShowAndClose img {
  max-width: 1rem;
  max-height: 1rem;
  filter: brightness(0) invert(1);
  transition: all 0.3s ease;
}

.showDetailsProject
  .showDetailsArticle
  .projectDescription
  .containerShowAndClose
  .deploy,
.showDetailsProject
  .showDetailsArticle
  .projectDescription
  .containerShowAndClose
  .github,
.showDetailsProject
  .showDetailsArticle
  .projectDescription
  .containerShowAndClose
  .closeProject {
  min-width: 7rem;
  max-width: 9rem;
  font-weight: 600;
  text-transform: uppercase;

  text-align: center;
  background-color: var(--highLightColor);
  padding: 0.4rem 1rem;
  color: white;

  transition: all 0.3s ease;
}

.showDetailsProject
  .showDetailsArticle
  .projectDescription
  .containerShowAndClose
  .deploy:hover
  img {
  filter: brightness(0) invert(1) hue-rotate(346deg);
}

.showDetailsProject
  .showDetailsArticle
  .projectDescription
  .containerShowAndClose
  .deploy:hover,
.showDetailsProject
  .showDetailsArticle
  .projectDescription
  .containerShowAndClose
  .github:hover,
.showDetailsProject
  .showDetailsArticle
  .projectDescription
  .containerShowAndClose
  .closeProject:hover {
  background-color: white;
  color: var(--highLightColor);
}

.showDetailsProject
  .showDetailsArticle
  .projectDescription
  .containerShowAndClose
  a {
  text-decoration: none;
}

.showDetailsProject
  .showDetailsArticle
  .projectDescription
  .containerShowAndClose
  .closeProject {
  border: none;
  font-family: "Raleway";
  font-size: 12pt;
  max-width: 9rem;
  cursor: pointer;
}

@media only screen and (min-width: 1025px) {
  /* Estilos específicos para pantallas con ancho mayor a 1024px */
}

/* Estilos para pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos específicos para pantallas con ancho entre 601px y 1024px */
  .showDetailsProject .showDetailsArticle {
    max-width: 80%;
    max-height: 70%;
  }

  .showDetailsProject .showDetailsArticle .projectDescription p {
    margin-bottom: 1.8rem;
  }
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  /* Estilos específicos para pantallas con ancho máximo de 600px */
  .showDetailsProject .showDetailsArticle {
    max-width: 80%;
    max-height: 55%;
  }

  .showDetailsProject .showDetailsArticle .projectDescription p {
    margin-bottom: 1.4rem;
  }

  .showDetailsProject
    .showDetailsArticle
    .projectDescription
    .containerShowAndClose,
  .showDetailsProject
    .showDetailsArticle
    .projectDescription
    .containerShowAndClose
    .closeProject {
    font-size: 8pt;
  }

  .showDetailsProject
    .showDetailsArticle
    .projectDescription
    .containerShowAndClose
    .deploy,
  .showDetailsProject
    .showDetailsArticle
    .projectDescription
    .containerShowAndClose
    .github,
  .showDetailsProject
    .showDetailsArticle
    .projectDescription
    .containerShowAndClose
    .closeProject {
    min-width: 2rem;
    max-width: 5rem;

    padding: 0.2rem 0.6rem;
  }

  .containerShowAndClose a {
    display: flex;
    align-items: center;
    gap: 0.1rem;
  }
}
