.listOfSkills {
  list-style: none;
  padding: 0;
}

.skillItem {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: var(--complementColorButton);
  margin: 1rem 0;
  cursor: grab;
  position: relative;
}

.skillName {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 12pt;
  font-weight: 600;
  /* text-transform: uppercase; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.skillBar {
  height: 100%;
  width: 100%;
  height: 10px;
  min-height: 1.7rem;
  background-color: #e6e6e6;
}

.skillFill {
  height: 100%;
  transition: all 0.3s ease-in-out;
}

/* Modifica el ancho de .skillFill con el porcentaje específico */
/* Puedes ajustar el color según tus preferencias */
.skillFill[data-percent="70"] {
  width: 70%;
  background-color: var(--complementColorGrafic);
}

.skillFill[data-percent="75"] {
  width: 75%;
  background-color: var(--complementColorGrafic);
}

.skillFill[data-percent="60"] {
  width: 60%;
  background-color: var(--complementColorGrafic);
}

/*ANIMACION*/
.skillItem .skillFill::before {
  content: attr(data-percent) "%";
  position: absolute;
  top: 0;
  right: -50px;
  /* transform: translateX(-50%); */
  color: #fff;
  background-color: #555;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.skillItem:hover .skillFill::before {
  right: 0;
  opacity: 1;
}

@media only screen and (min-width: 1025px) {
  /* Estilos específicos para pantallas con ancho mayor a 1024px */
}

/* Estilos para pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos específicos para pantallas con ancho entre 601px y 1024px */

  .skillName {
    font-size: 10pt;
    font-weight: 500;
  }
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  /* Estilos específicos para pantallas con ancho máximo de 600px */
  .skillName {
    font-size: 9pt;
    font-weight: 500;
  }
}
