.descriptionImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.descriptionImage .description {
  font-size: 16pt;
}

.hexagonImage {
  --imageSize: 14rem;
  align-self: center;
  clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
  background-image: url("/Icons/Borja.jpg");
  background-size: cover;
  background-position: center;
  max-width: var(--imageSize);
  min-height: var(--imageSize);
  width: var(--imageSize);
}

.importantText {
  position: relative;
  cursor: pointer;
  color: var(--highLightColor);
  font-weight: 800;
}

.importantText a {
  color: var(--highLightColor);
  text-decoration: none;
}

.importantText::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--highLightColor);
  animation: underlineAnimation 3s infinite; /* Puedes ajustar la duración según tus preferencias */
}

@keyframes underlineAnimation {
  0% {
    width: 0;
  }
  15% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  85% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@media only screen and (min-width: 1025px) {
  /* Estilos específicos para pantallas con ancho mayor a 1024px */
}

/* Estilos para pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos específicos para pantallas con ancho entre 601px y 1024px */
  .descriptionImage .description {
    font-size: 14pt;
  }

  .hexagonImage {
    --imageSize: 12rem;
    max-width: var(--imageSize);
    min-height: var(--imageSize);
    width: var(--imageSize);
  }
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  /* Estilos específicos para pantallas con ancho máximo de 600px */

  .descriptionImage .description {
    font-size: 12pt;
  }

  .hexagonImage {
    --imageSize: 10rem;
    max-width: var(--imageSize);
    min-height: var(--imageSize);
    width: var(--imageSize);
  }
}
