/* styles.css */
.aboutMeSection {
  max-width: 90%;
  width: 100%;
  margin: 2rem auto; /* Centra el contenedor en la pantalla */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan en una nueva línea si no caben en el ancho disponible */
  justify-content: space-between; /* Espaciado uniforme entre las columnas */
  align-items: center;
  font-family: "Raleway", sans-serif;
}

.aboutMeSectionChild {
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}

.underlineContainer {
  min-width: var(--longitudSubrayado);
  width: var(--longitudSubrayado);
  min-height: 5px;
  height: 5px;
  margin-top: 10px;
  background-color: var(--highLightColor);
  border-radius: 2px;

  /* Animacion */

  transform: translateX(500px);
  visibility: hidden;
  transition: opacity 0.75s ease, transform 0.5s ease; /* Agrega una transición suave */
  opacity: 0;
}

.underlineContainer.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.aboutMeSection .title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titleStyle {
  color: var(--titleColor);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 22pt;
  line-height: 18pt;
  position: relative;

  transform: translateX(-2000px);
  visibility: hidden;
  transition: opacity 0.75s ease, transform 0.5s ease; /* Agrega una transición suave */
  opacity: 0;
}

.titleStyle.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

/* Seleccionar la primera columna */
.aboutMeSectionChild:nth-child(1) {
  margin-top: 2rem;
  height: 5rem;
}

.aboutMeSectionChild:nth-child(2) {
  min-height: 16rem;
}

.aboutMeSectionChild:nth-child(3) {
  min-height: 20rem;
  margin-bottom: 2rem;
}

/* Cualidades */

.aboutMeSectionChild.qualities {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

.aboutMeSectionChild.qualities ul {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(200px, 1fr)
  ); /* 4 columnas en una fila, mínimo 200px de ancho */
  gap: 20px; /* Espaciado entre las imágenes */
}

.aboutMeSectionChild.qualities ul li {
  list-style: none;
  width: 100%;
  height: 100%;
}

/* Description */

.aboutMeSectionChild.descriptionSkills {
  padding: 1rem;
  display: grid;
  grid-template-columns: 40% 54%;
  gap: 4rem;
}

/* Estilos para pantallas grandes */
@media only screen and (min-width: 1025px) {
  /* Estilos específicos para pantallas con ancho mayor a 1024px */
  .aboutMeSectionChild.qualities ul {
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 1.4rem; /* Espaciado entre las imágenes */
  }

  .aboutMeSection {
    gap: 1rem;
  }

  .titleStyle {
    font-size: 22pt;
  }
}

/* Estilos para pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos específicos para pantallas con ancho entre 601px y 1024px */
  .aboutMeSectionChild.qualities ul {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(150px, auto);
    gap: 1.3rem; /* Espaciado entre las imágenes */
  }

  .aboutMeSection {
    gap: 1rem;
  }

  .titleStyle.active {
    font-size: 20pt;
  }

  .underlineContainer {
    min-width: calc(var(--longitudSubrayado) * 0.85);
    width: calc(var(--longitudSubrayado) * 0.85);
  }

  .aboutMeSectionChild.descriptionSkills {
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    gap: 2rem;
  }
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  /* Estilos específicos para pantallas con ancho máximo de 600px */
  .aboutMeSectionChild.qualities ul {
    grid-template-columns: 1fr;
    grid-auto-rows: repeat(4, 1fr);
    gap: 1.2rem; /* Espaciado entre las imágenes */
    max-width: 80%;
  }

  .aboutMeSection {
    gap: 0;
  }

  .titleStyle {
    font-size: 18pt;
  }
  .underlineContainer {
    min-width: calc(var(--longitudSubrayado) * 0.75);
    width: calc(var(--longitudSubrayado) * 0.75);
  }

  .aboutMeSectionChild.descriptionSkills {
    grid-template-columns: 100%;
    grid-template-rows: 45% 55%;
    gap: 2rem;
  }
}
