.showcaseProjectSection article {
  min-width: 20rem;
  max-width: 20rem;
  min-height: 20rem;
  max-height: 20rem;
  width: 20rem;
  height: 20rem;
  /* border: 1px solid black; */
}

.showcaseProjectSection .articleProject img {
  min-width: 20rem;
  min-height: 20rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  object-fit: cover;
  opacity: 1;
  transition: all 1.5s ease;
}

.showcaseProjectSection .articleProject {
  position: relative;

  opacity: 1;
  transform: scale(1);
  transition: all 1s ease;
}

.showcaseProjectSection .articleProject.hidden {
  opacity: 0;
  transform: scale(0);
}

.showcaseProjectSection .articleProject .hoverProject {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 0; /* CAMBIAR VISIBILIDAD DESPUES */
  transition: all 0.5s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.showcaseProjectSection .articleProject:hover .hoverProject {
  visibility: visible;
  opacity: 1;
}

.showcaseProjectSection .articleProject .hoverProject .titleAndTechnology h3 {
  font-size: 16pt;
  font-weight: 600;
}

.showcaseProjectSection .articleProject .hoverProject .titleAndTechnology h5 {
  font-size: 12pt;
  font-weight: 500;
  color: var(--highLightColor);
  margin-top: 0.6rem;
}

.showcaseProjectSection .articleProject .hoverProject .titleAndTechnology {
  transform: translateY(-60px);
  transition: all 0.5s ease;
  opacity: 0;
}

.showcaseProjectSection
  .articleProject:hover
  .hoverProject
  .titleAndTechnology {
  transform: translateY(20px);
  opacity: 1;
}

.showcaseProjectSection .articleProject .hoverProject .buttonProject {
  transform: translateY(60px);
  transition: all 0.5s ease;
  opacity: 0;

  font-size: 16pt;
  max-width: 10rem;
}

.showcaseProjectSection
  .articleProject
  .hoverProject
  .buttonProject
  .buttonKnowMore {
  padding: 0.4rem 0.7rem;
  border: 2px solid var(--highLightColor);
  transition: all 0.5s ease;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: 500;
}

.showcaseProjectSection
  .articleProject
  .hoverProject
  .buttonProject
  .buttonKnowMore:hover {
  background-color: var(--highLightColor);
  color: white;
  cursor: pointer;
}

.showcaseProjectSection .articleProject:hover .hoverProject .buttonProject {
  transform: translateY(-20px);
  opacity: 1;
}

.showcaseProjectSection .articleProject:hover img {
  opacity: 0;
}

@media only screen and (min-width: 1025px) {
  /* Estilos específicos para pantallas con ancho mayor a 1024px */
  .showcaseProjectSection article {
    min-width: 20rem;
    max-width: 20rem;
    min-height: 20rem;
    max-height: 20rem;
    width: 20rem;
    height: 20rem;
    /* border: 1px solid black; */
  }

  .showcaseProjectSection .articleProject .hoverProject {
    font-size: 24pt;
  }
}

/* Estilos para pantallas medianas */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos específicos para pantallas con ancho entre 601px y 1024px */
  .showcaseProjectSection article {
    min-width: 15rem;
    max-width: 20rem;
    min-height: 15rem;
    max-height: 20rem;
    width: 15rem;
    height: 15rem;
    /* border: 1px solid black; */
  }

  .showcaseProjectSection .articleProject img {
    min-width: 15rem;
    max-width: 20rem;
    min-height: 15rem;
    max-height: 20rem;
    width: 15rem;
    height: 15rem;
  }

  .showcaseProjectSection .articleProject .hoverProject .titleAndTechnology h3 {
    font-size: 16pt;
  }

  .showcaseProjectSection .articleProject .hoverProject .titleAndTechnology h5,
  .showcaseProjectSection .articleProject .hoverProject .buttonProject {
    font-size: 11pt;
  }
}

/* Estilos para pantallas pequeñas */
@media only screen and (max-width: 600px) {
  /* Estilos específicos para pantallas con ancho máximo de 600px */

  .showcaseProjectSection article {
    min-width: 12rem;
    max-width: 20rem;
    min-height: 12rem;
    max-height: 20rem;
    width: 12rem;
    height: 12rem;
    /* border: 1px solid black; */
  }

  .showcaseProjectSection .articleProject img {
    min-width: 12rem;
    max-width: 20rem;
    min-height: 12rem;
    max-height: 20rem;
    width: 12rem;
    height: 12rem;
  }
  .showcaseProjectSection .articleProject .hoverProject .titleAndTechnology h3 {
    font-size: 12pt;
  }

  .showcaseProjectSection .articleProject .hoverProject .titleAndTechnology h5,
  .showcaseProjectSection
    .articleProject
    .hoverProject
    .buttonProject
    .buttonKnowMore {
    font-size: 9pt;
  }
}
