@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORES */
  --backgroundHomePage: #242424;
  --highLightColorHover: rgb(248, 61, 139);
  --highLightColor: rgb(227, 27, 109);
  --titleColor: #444649;
  --subtitleColor: #bbbbbb;
  --bgTraslucid: #e31b6e28;
  --complementColorButton: #04c2c9;
  --complementColorGrafic: #12a3a8;
  --backgroundFooter: #2e2f3a;
  --backgroundMenu: #24263b;
  --backgroundInputForm: rgb(255, 33, 33) b;
  --pruebaBackground: #252934;

  --longitudSubrayado: 75px;
}

/* App.css */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

/* Estilo de las secciones */
header.displaySection,
section.displaySection {
  min-height: 80vh; /* 100% de la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 100%;
}

/* section.presentationSection {
  background-color: rgb(207, 207, 207);
} */

article.aboutMeArticle {
  background: linear-gradient(
    to bottom,
    #ffffff,
    #f0f0f0
  ); /* Aquí puedes ajustar los colores según tus preferencias */
  min-height: 80vh;
}

.projectSection {
  background: linear-gradient(
    to bottom,
    #f0f0f0,
    #ffffff
  ); /* Aquí puedes ajustar los colores según tus preferencias */
  min-height: 80vh;
  margin-bottom: 10rem;
}

.contactSection {
  background-color: var(--backgroundMenu);
  min-height: 80vh;
  position: relative;
}

.contactArticle,
.ProjectArticle,
.aboutMeArticle {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .noscroll {
  filter: blur(5px);
} */
/* 
.noscroll {
  overflow: hidden;
  filter: blur(3px);
} */
