@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORES */
  --backgroundHomePage: #242424;
  --highLightColor: #e31b6d;
  --titleColor: #444649;
  --complementColorButton: #04c2c9;
  --backgroundMenu: #1a1e3f;

  --longitudSubrayado: 75px;
}

/* App.css */
body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Estilo de las secciones */
header.displaySection,
section.displaySection {
  min-height: 100vh; /* 100% de la altura de la ventana */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  width: 100%;
}

/* section.presentationSection {
  background-color: rgb(207, 207, 207);
} */

article.projectArticle,
article.aboutMeArticle,
article.contactArticle {
  background: linear-gradient(
    to bottom,
    #ffffff,
    #fbfbfb
  ); /* Aquí puedes ajustar los colores según tus preferencias */
  min-height: 100vh;
}

.contactArticle,
.projectArticle,
.aboutMeArticle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
